:root {
  --wall-border-color: rgba(244, 67, 54, 1);
  --wall-background-gradient: radial-gradient(rgba(213, 0, 0, 0), rgba(213, 0, 0, 0.5));
  --path-border-color: rgba(76, 175, 80, 1);
  --path-background-gradient: radial-gradient(rgba(76, 175, 80, 0), rgba(76, 175, 80, 0.5));
  --start-border-color: rgba(255, 235, 59, 1);
  --start-background-gradient: radial-gradient(rgba(255, 235, 59, 0), rgba(255, 235, 59, 0.5));
  --end-border-color: rgba(118, 255, 5, 1);
  --end-background-gradient: radial-gradient(rgba(118, 255, 5, 0), rgba(118, 255, 5, 0.5));
  --visited-border-color: rgba(0, 188, 212, 1);
  --visited-background-gradient: radial-gradient(rgba(0, 188, 212, 0), rgba(0, 188, 212, 0.5));
  --weight-border-color: rgba(255, 87, 34, 1);
  --weight-background-gradient: radial-gradient(rgba(255, 87, 34, 0), rgba(255, 87, 34, 0.5));
  --path-weight-border-color: rgba(125, 151, 67, 1);
  --path-weight-background-gradient: radial-gradient(rgba(125, 151, 67, 0), rgba(125, 151, 67, 0.5));
  --visited-weight-border-color: rgba(185, 115, 83, 1);
  --visited-weight-background-gradient: radial-gradient(rgba(185, 115, 83, 0), rgba(185, 115, 83, 0.5));
  --unvisited-border-color: rgba(98, 0, 234, 0.75);
  --unvisited-background-gradient: radial-gradient(rgba(98, 0, 234, 0), rgba(98, 0, 234, 0));
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid var(--unvisited-border-color);
}

.wall-no-animation {
  background: var(--wall-background-gradient);
  border: 1px double var(--wall-border-color);
}

.path-no-animation {
  background: var(--path-background-gradient);
  border: 1px double var(--path-border-color);
}

.start-no-animation {
  background: var(--start-background-gradient);
  border: 1px double var(--start-border-color);
}

.end-no-animation {
  background: var(--end-background-gradient);
  border: 1px double var(--end-border-color);
}

.visited-no-animation {
  background: var(--visited-background-gradient);
  border: 1px double var(--visited-border-color);
}

.weight-no-animation {
  background: var(--weight-background-gradient);
  border: 1px double var(--weight-border-color);
}

.visited-weight-no-animation {
  background: var(--visited-weight-background-gradient);
  border: 1px double var(--visited-weight-border-color);
}

.path-weight-no-animation {
  background: var(--path-weight-background-gradient);
  border: 1px double var(--path-weight-border-color);
}

.path,
.start,
.end,
.visited,
.weight,
.visited-weight,
.path-weight,
.wall {
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.path {
  animation-name: pathAnimation;
}

.path-weight {
  animation-name: pathWeightAnimation;
}

.wall {
  animation-name: wallAnimation;
}

.weight {
  animation-name: weightAnimation;
}

.start {
  animation-name: startAnimation;
}

.end {
  animation-name: endAnimation;
}

.current {
  background: var(--start-background-gradient);
  border: 1px double var(--start-border-color);
}

.visited {
  animation-name: visitedAnimation;
}

.visited-weight {
  animation-name: visitedWeightAnimation;
}

.app-logo {
  height: 50px;
  width: 50px;
}

@keyframes wallAnimation {
  0% {
    background: var(--wall-background-gradient);
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background: var(--wall-background-gradient);
    border: 1px double var(--wall-border-color);
  }
}

@keyframes startAnimation {
  0% {
    background: var(--start-background-gradient);
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background: var(--start-background-gradient);
    border: 1px double var(--start-border-color);
  }
}

@keyframes weightAnimation {
  0% {
    background: var(--weight-background-gradient);
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background: var(--weight-background-gradient);
    border: 1px double var(--weight-border-color);
  }
}

@keyframes visitedWeightAnimation {
  0% {
    background: var(--visited-weight-background-gradient);
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background: var(--visited-weight-background-gradient);
    border: 1px double var(--visited-weight-border-color);
  }
}

@keyframes endAnimation {
  0% {
    background: var(--end-background-gradient);
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background: var(--end-background-gradient);
    border: 1px double var(--end-border-color);
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background: rgba(0, 23, 43, 0.75);
    border-radius: 100%;
  }

  50% {
    background: rgba(0, 131, 143, 0.75);
  }

  75% {
    transform: scale(1.2);
    background: rgba(29, 233, 182, 0.75);
  }

  100% {
    transform: scale(1);
    background: var(--visited-background-gradient);
    border: 1px double var(--visited-border-color);
  }
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.3);
    background: rgba(0, 66, 0, 0.75);
    border-radius: 100%;
  }

  50% {
    background: rgba(27, 94, 32, 0.75);
  }

  75% {
    transform: scale(1.2);
    background: rgba(29, 233, 182, 0.75);
  }

  100% {
    transform: scale(1);
    background: var(--path-background-gradient);
    border: 1px double var(--path-border-color);
  }
}

@keyframes pathWeightAnimation {
  0% {
    background: var(--path-weight-background-gradient);
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background: var(--path-weight-background-gradient);
    border: 1px double var(--path-weight-border-color);
  }
}
